.gallery-grid {
    margin: 20px auto 20px auto;
    justify-content: space-around;
}

.gallery-grid img {
    display: block;
    max-width:200px;
    height: auto;
    width: auto;
    margin: 10px;
    border: white solid 6px;
}